.fontTitle {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  /* or 125% */
  text-align: left;
  letter-spacing: -0.625px;

  /* Text/Dark */

  color: #3a4562;
}
